nav{
    text-align: center;
    background-color: #7F4D4A;
    position:sticky;
    top: 0;
    left:0;
    width:100%;
    z-index: 1;
}

nav li{
    display:inline-flex;
    
}

nav a{
    color:#FFBA84; 
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family:monospace
}

nav a:hover{
    background-color:antiquewhite;
    color:#40322A;
    text-decoration: none;
}


.container{
    align-content:center;
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    padding: 0px;
}

.text {
    color:white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 60px;
    font-size-adjust: auto;
    font-style: italic;
    padding: 30px;
    text-align:center;
    
}

.text1{
    color:black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-size-adjust: auto;
    font-style: italic;
    padding: 30px;
    text-align:center;
}
h2{
    font-family: 'Mrs Sheppards', cursive;
    background-color: cornsilk;
    width: 230px;
    border-radius: 30px;
    margin: 50px 30px;
}

.prepare li{
    font-family: 'Permanent Marker';
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background-color: #B9887D;
    font-size: 18px;
    transition: 0.2s;
    max-width: 800px;
    
    
}

.prepare li:nth-child(odd) {
  background-color: #D7C4BB;
}

.prepare li:hover{
    background-color: #854836;
}



input{
    display:none;
    
}

label{
}

input:checked + label{
    color:white;
    text-decoration: line-through;
    
}

p{
    margin: 10px 50px;
}

.img-left{
    float: left;
    max-width: 500px;
    margin:20px 50px 40px 40px;
    border-radius: 5%;
    
}

.img-right{
    float: right;
    max-width: 500px;
    margin:20px 50px 40px 40px;
    border-radius: 5%;
    
}
.togo-para{
    margin:30px;
}
    
span{
    font-weight: bold;
    font-family: 'Lobster', cursive;
    font-size:40px;
}

.di{
    margin-top:100px;
    margin-bottom: 200px;
    border:30px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 220px;
}
.eat{
    margin:20px;
    padding:20px;
    height:200px;
    width:200px;
    border-radius: 50%;
}

.caption {
    display:block;
    align-items: center;
    margin-top: :0px;
    font-size: 20px;
}

#Secret_tips{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 100px;
    font-size: 
}
.para{
    font-family: 'Vollkorn', serif;
}

@media only screen and (max-width: 553px) {
    body {
        background-color: lightsteelblue;
    }
    .img-left{
        float:center;
        max-width: 87%;
        margin:20px 40px 20px 40px;
        border-radius: 5%;
    
    }

    .img-right{
        float:center;
        max-width: 87%;
        margin:20px 40px 20px 40px;
        border-radius: 5%;
    
    }
    
} 
@media only screen and (min-width: 959px) {
    body {
        background-color: lightpink;
    }
    span {
    font-family:'Oswald', sans-serif;
}
}